modules = ["nodejs-20", "web", "javascript", "python-3.12", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["cargo", "file", "freetype", "glibcLocales", "jbig2dec", "libiconv", "libxcrypt", "mupdf", "openssl", "pkg-config", "qpdf", "rustc"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 5002
externalPort = 3002

[[ports]]
localPort = 5555
externalPort = 3001

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash start_django.sh"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
integrations = ["github:1.0.0"]

[userenv]

[userenv.shared]
AWS_S3_REGION = "ap-south-1"
AWS_S3_BUCKET = "studyinfocentre-portal-documents"
